.main{
    border: 2px solid red;
    padding:10px;
    margin:10px;
    width:300px;
    height:425px;
    flex: 1;
}
.ldiv{
    border: 2px solid blue;
    padding:10px;
    margin:10px;
    width:300px;
    height:200px;
    flex: 3;
}
.rdiv{
    border: 2px solid green;
    padding:10px;
    margin:10px;
    width:300px;
    height:400px;
    flex:4;  
}